.page-title {
  font-size: 2em;
  font-weight: 400;
  color: #2882d3;
}

a.accessible-link {
  color: #001AFF !important;
}

button.accessible-btn {
  background-color: #0369E7 !important;
}

.h5 {
  font-size: 1.25rem;
}

.h4 {
  font-size: 1.5rem;
}

.percent-input {
  margin-right: 2px;
  margin-bottom: 5px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  width: 45px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 5px;
}

.percent-input:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
  outline: 0
}

.percent-input-disabled {
  background-color: #E9ECEF;
}



