.page-title {
  font-size: 2em;
  font-weight: 400;
  color: #2F76B7;
}


a {
  color: #0058E6 !important;
}

button.accessible-btn {
  background-color: #0369E7 !important;
}

.h5 {
  font-size: 1.25rem;
}

.h4 {
  font-size: 1.5rem;
}

.h7 {
  font-size: 1.1rem;
  font-weight: 600;
}

.percent-input {
  margin-right: 2px;
  margin-bottom: 5px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  width: 45px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 5px;
}

.percent-input:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
  outline: 0
}

.percent-input-disabled {
  background-color: #E9ECEF;
}

h2.editable {
  font: 24px Tahoma, Ariel, serif;
  font-weight: 700;
  color: #0372a6;
}

.libretexts-font {
  font: 17.6px Tahoma, Arial, serif;
  color: black;
}

.libretexts-border {
  border: 1px solid;
  padding: 0 10px 10px;
  margin: 10px 0;
}

.noty_theme__mint.noty_type__success {
  background-color: #C6EFCE !important;
  border-bottom: 1px solid #A0B55C;
}

.noty_theme__mint.noty_type__success .noty_body {
  color: #006100
}

.noty_theme__mint.noty_type__error {
  background-color: #FFC7CE !important;
  border-bottom: 1px solid #A0B55C;
}

.noty_theme__mint.noty_type__error .noty_body {
  color: #9C0006
}

.noty_theme__mint.noty_type__info {
  background-color: #BDD7EE !important;
  border-bottom: 1px solid #A0B55C;
}
.noty_theme__mint.noty_type__info .noty_body {
  color: #1F4E78
}

.breadcrumb-item.active {
  color: #6C6878 !important;

}
a.nav-link.router-link-exact-active.active {
  background-color: #EAECEF !important;
}

.commons.btn-primary {
  background-color: black !important;
}

.btn-primary {
  background-color: #0058E6 !important;
}


.btn-outline-primary {
  color: #0058E6 !important;
}

.btn-info {
  background-color: #2F76B7 !important;
}

.btn-success {
  background-color: #008600 !important;
}
